@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

.container-yellow{
    background-color: #ffcc00;
    margin:0px;
    position: relative;
    display: block;
    border: none;
    margin-top: 0px;
}

body, html{
    margin: 0px;
}

#logo{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}


#play-yellow{
    position: block;
    top: 0;
    padding: 0;
}


.play-yellow{
    max-width: 100%;
    width: 100%;
    min-height: 50rem;
    height: 100vh;
    display: block;
}

#container-purple{
    background-color: #660099;
    margin-bottom: 0px;
    padding: 0px;
}

.container-yellow2{
    display: flex;
    flex-wrap: wrap;
}

h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Prompt', sans-serif;;
    letter-spacing: 4.25px;
    font-size: 150px;

}

#image-yellow{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

#list-yellow2{
    display: block;
}

.row-schedule{
    display: flex;
}