@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body, html{
    margin: 0;
    height: 100vh;
    background-color: white; 
    font-family: 'Poppins', sans-serif;
}

.container-yellow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

.inner-yellow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#play-yellow{
    align-self: stretch;
}

.play-yellow{
    height: 100%;
}

.artist-yellow{
    font-family: 'Poppins', sans-serif;
}

#now-playing{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

#artist{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -10px;
}

#song{
    margin-top: -5px;
    font-size: 24px;
}

#main2{
    display: block;
    position: relative;
    height: 180vh;
}


.inner-yellow2{
    display: flex;
    flex-direction: column;
    margin-top: -130px;
    align-items: flex-start;
}


#title-yellow2{
    font-size: 130px;
    font-weight: 700;
    letter-spacing: -4.25px;
    line-height: 160px;
    margin-left: 20px;
}

#image-yellow2{
    margin-top: -300px;
    height: 20px;
    margin-left: 20px;
}

#list-yellow2{
    display: flex;
    flex-direction: column;
}

.list-yellow2{
    display: flex;
    flex-direction: column;
}

.ball{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    padding-left: 20px;
    align-self: flex-end;
}

#first-h3{
    margin-top: 190px;
    margin-right: 200px;
    margin-bottom: -20px;
}

#number1{
    font-weight: 300;
    font-size: 60px;
    margin-right: 20px;
    font-family:sans-serif;
}

#fm{
    font-weight: 300;
    font-size: 110px;
    
}

.schedule2{
    margin-top: 0px;
}

.schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
    height: 80px;
    font-size: 24px;
    border-bottom: 1px solid black;
}

.row-online{
    font-size: 16px;
    font-weight: 300;
}

#schedule-top{
    border-top: 1px solid black;
}

#main3{
    display: block;
    position: relative;
    height: 100vh;
}

.container-yellow3{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image3{
    align-self: flex-end;
    margin-right: 20px;
}

.list-yellow3{
    display: flex;
    flex-direction: column;
    width: 420px;
}

.schedule4{
    display: flex;
    flex-direction: column;
    
}

.schedule3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 24px;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

#schedule-top3{
    border-top: 1px solid black;
}

#number2{
    font-weight: 300;
    font-size: 60px;
    margin-left: -4px;
    margin-right: 20px;
    font-family: sans-serif;
    align-self:flex-end;
    margin-bottom: 30px;
}

#online{
    font-weight: 300;
    font-size: 110px;
    margin-left: 15px;
}

#second-h3{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: -20px;
}

#main4{
    padding-bottom: 200px;
}

.inner-main4{
    display: flex;
    flex-direction: column;
}

.schedule6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -30px;
    margin-bottom: 40px;
}

.schedule5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
    height: 120px;
    border-bottom: 1px solid black;
    align-items: center;
}

.title4{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
}

#number3{
    font-size: 60px;
    font-weight: 300;
    margin-right: 30px;
}

#devices{
    font-size: 110px;
    font-weight: 300;
}

.row-device{
    font-size: 90px;
    margin-left: 20px;
}

.phrase{
    font-size: 30px;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
}

#schedule-top4{
    border-top: 1px solid black;
}

.image4-inner{
    width: 600px;
    max-width: 100%;
    margin-right: 20px;
}

.image4{
    margin-left: 20px;
}


.inner-schedule2-div{
    width: 410px;
    justify-content: left;
    border-bottom: 1px solid rgb(204, 204, 204);
    
}
#schedule-top5{
    border-top: 1px solid rgb(204, 204, 204);
    margin-top: -10px;
}
.row-time{
    margin-right: 40px;
}

.date{
    font-size: 110px;
    font-weight: 300;
}

.list-yellow4{
    padding-top: 290px;
}


.weekly{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-left: 20px;
    margin-top: -350px;
}


#weekly-wed, #weekly-sun{
    margin-left: 20px;
}

#weekly-thu{
    margin-left: 37%;
    margin-top: -250px;
}

#weekly-fri{
    margin-left: 65%;
    margin-top: -250px;
}

.weekly-end{
    margin-top: -250px;
}